<!-- 댓글 추가 시작 -->
   <!-- 댓글 작성란 시작 -->
   <div>
    <div id="reward_comments">
       <div class="reward-comment">
          <p class="comment-num">댓글 <em class="comment-total">191</em></p>
              <div class="comment-write">
                  <div class="direct-message">
                      <p>배송 및 리워드, 기타 관련 사항은 메이커에게 직접 문의하세요<br />
                          메이커 평균 응답 시간<strong>1일 이내</strong>
                      </p>
                      <button class="chatspace-button wz button">
                          문의하기
                      </button>
                  </div>
                  <div class="wz-message-box">
                      <p class="title">댓글 작성 유의사항</p>
                      <ul>
                          <li>펀딩 취소와 리워드 옵션 및 배송지 변경은 펀딩 기간(2018.07.31 ~ 2018.08.19)동안 <a href="/web/wmypage/myfunding/fundinglist">펀딩 내역</a>에서 가능합니다.</li>
                          <li>리워드 관련 문의 및 배송 문의는 '메이커에게 문의하기'를 통해 정확한 답변을 받을 수 있습니다.</li>
                          <li>서포터님의 연락처, 성명, 이메일 등의 소중한 개인정보는 절대 남기지 마세요.</li>
                          <li>광고성, 욕설, 비방, 도배 등의 글은 예고 없이 삭제 등 조치가 취해질 수 있습니다.</li>
                      </ul>
                  </div>
                  <div class="main-comment">
                      <textarea name="body" maxlength="2000" placeholder="댓글을 입력하세요." class="wz-textarea" style="overflow-y: hidden; resize: none; z-index: auto; position: relative; line-height: 20px; font-size: 15px; transition: none 0s ease 0s; background: transparent !important;" data-gramm="true" data-txt_gramm_id="b27cdb5a-5a13-ac4f-1f73-1668f6a26262" data-gramm_id="b27cdb5a-5a13-ac4f-1f73-1668f6a26262" spellcheck="false" data-gramm_editor="true"></textarea>
                      <div class="btn-wrap">
                          <button class="wz-btn">댓글 등록</button>
                      </div>
                  </div>
              </div>
          <div v-if="fetching.init" class="wz-loader"></div>

       </div>
    </div>
 </div>

                                 <!-- 댓글 작성란 끝 -->
 <div class="comment-box">
     <div class="comment-item">
         <div class="comment-wrap">
              <div class="comment-info">
                  <div class="comment-head">
                      <div class="userpicture user"></div>
                      <p class="user-name">username</p>
                      <time class="comment-date">2018.08.08 01:52</time>
                  </div>
              </div>
              <div class="comment-content">구매만족합니다.</div>
              <div class="comment-bottom">
                  <button class="makercomment-btn" type="button">답글</button>
              </div>
         </div>
         <div class="comment-reply">
             <div class="comment-item reply">
                 <div class="comment-wrap">
                     <div class="comment-info">
                         <div class="comment-head">
                             <div class="userpicture user"></div>
                             <p class="user-name">
                                 더크루
                                 <em class="maker">메이커</em>
                             </p>
                             <time class="comment-date">2018.08.17 11:05</time>
                         </div>
                     </div>
                     <div class="comment-content">안녕하세요! 구매해주셔서 감사합니다. 좋은하루 보내세요.</div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- 댓글 추가 끝 -->
