<div class="funding-step3">
    <div class="purchase-result-wrap">
        <div class="purchase-result">
            <div class="result-box">
                <p>
                    <strong>noname 서포터님,</strong>
                </p>
                <p>펀딩으로 참여해주셔서 참 감사합니다!</p>
            </div>
        </div>

        <div class="purchase-notice center">
            <p class="title">와디즈 리워드 펀딩은 결제예약 시스템을 이용합니다.</p>
            <div class="inner-rdbox">
                <ul>
                    <li>쇼핑하기처럼 지금 결제가 되지 않았습니다. 프로젝트가 성공하면 결제가 실행됩니다.</li>
                    <li>프로젝트 종료일(2018.09.03)의 다음 영업일에 펀딩 성공여부에 따라 결제실행/결제취소가 진행됩니다.</li>
                    <li>프로젝트 실패 시 결제예약 정보가 자동으로 삭제되고 결제가 진행되지 않습니다.</li>
                    <li>결제실행일에 결제자 귀책사유(카드재발급, 한도초과, 이용정지 등)로 인하여 결제가 실패할 수 있으니, 결제예약으로 등록하신 카드가 유효한지 다시 한번 확인하세요.</li>
                    <li>1차 결제 실패 시 실패일로부터 3 영업일 동안 재 결제를 실행합니다. 결제 실패 문자를 받으시면, 카드사와 카드결제 불가 사유(한도초과 또는 카드재발급 등)를 확인해 주세요. 결제할
                        카드를 변경하시려면, 마이페이지 &gt; 나의 펀딩현황의 결제정보에서 카드정보를 변경해주세요.</li>
                    <li>1차 결제 실패 이후 3 영업일 동안 재 결제 시도에서 결제가 정상적으로 실행되지 않으면, 펀딩참여가 취소됩니다.</li>
                </ul>
            </div>
        </div>
        <div class="btn-wrap">
            <button (click)="goFundinglist()">펀딩 결제 내역 바로가기</button>
        </div>
    </div>
</div>