<div class="fundinglist-container">
    <div class="title-container">
      <div class="title">펀딩 내역</div>
    </div>
    <div class="list" *ngIf="userInfo">
      <ul class="fundinglist" *ngIf="userInfo.funding_set.length > 0">
        <li *ngFor="let funding of userInfo.funding_set">
          <a ng-href="#">
            <dl class="funding-card">
              <dt>
                <em class="category">리워드 / {{ funding.reward.product.product_type }}</em>
                <em class="date">{{ funding.order.requested_at.substring(0, 10) }} 펀딩</em>
              </dt>
              <dd>
                <p class="status">{{ getStatus(funding.reward.product.product_is_funding) }}</p>
                <p class="title">{{ funding.reward.product.product_name }}</p>
                <p class="maker">by {{ funding.reward.product.product_company_name }}</p>
                <p class="funding-info">
                  <em class="fund-status">결제 예약</em>
                </p>
              </dd>
            </dl>
          </a>
        </li>
      </ul>

      <div class="empty-text" *ngIf="userInfo.funding_set.length === 0">
        <p>
          리워드 프로젝트에 펀딩한 내역이 없습니다.<br>
          지금 바로 리워드 프로젝트를 둘러보세요!<br><br>
          <a [routerLink]="'/main/all'">
            <span class="link-text fas">
              리워드 프로젝트 바로가기
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>