<div class="fundinglist-container">
    <div class="title-container">
      <div class="title">펀딩 내역</div>
    </div>
    <div class="list">
      <div class="empty-text" *ngIf="fundingList.length === 0">
        <p>
          리워드 프로젝트에 펀딩한 내역이 없습니다.<br>
          지금 바로 리워드 프로젝트를 둘러보세요!<br><br>
          <a [routerLink]="'/main'">
            <span class="link-text fas">
              리워드 프로젝트 바로가기
            </span>
          </a>
        </p>
      </div>
      <ul class="fundinglist" *ngIf="fundingList.length > 0">
        <li>
          <a ng-href="#">
            <dl class="funding-card">
              <dt>
                <em class="category">리워드 / 패션·잡화</em>
                <em class="date">2018.08.10 펀딩</em>
              </dt>
              <dd>
                <p class="status">진행중</p>
                <p class="title">가죽, 다 똑같지 않아요. 평생 쓰는 베지터블 레더 지갑, 머니랩</p>
                <p class="maker">by (주)헤비츠</p>
                <p class="funding-info">
                  <em class="fund-status">결제 예약취소</em>
                </p>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </div>