<div class="login-container">
  <h2 class="login-heading-text">로그인</h2>
  <form class="login-form" [formGroup]="loginForm" novalidate>
    <input formControlName="username" type="email" placeholder="이메일 아이디" [class.error]="username.errors && username.touched || isLoginError">
    <em class="error-text" *ngIf="username.errors && username.touched">이메일 형식이 올바르지 않습니다.</em>
    <input formControlName="password" type="password" maxlength="17" placeholder="비밀번호(영문, 숫자, 특수문자 포함 8자 이상)" [class.error]="password.errors && password.touched || isLoginError">
    <em class="error-text" *ngIf="password.errors && password.touched">비밀번호(영문, 숫자, 특수문자 포함 8자 이상)</em>
    <em class="error-text" *ngIf="isLoginError">와디즈에 등록되지 않은 아이디거나, 아이디 또는 비밀번호가 회원정보와 일치하지 않습니다.</em>
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" title="아이디 저장">
        <span class="caption">아이디 저장</span>
      </label>
    </div> -->
    <button type="button" class="btn-login" (click)="submitLogin()" [disabled]="loginForm.invalid">로그인</button>
  </form>
  <div class="bottom-message">
    <p>아직 와디즈 계정이 없나요?
      <a [routerLink]="'/join'">회원가입</a>
    </p>
  </div>
</div>