.notice-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 6000;
  transition: all .2s;
  overflow-y: auto;
}
.notice-container {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 5% auto;
  padding: 36px 32px 76px;
  background: #fff;
}
.notice-back-btn {
  color: rgba(0,0,0,.54);
  margin-bottom: 5px;
  font-size: 15px;
  vertical-align: middle;
}
.notice-back-btn:hover {
  color: rgba(0,0,0,.84);
}
.notice-back-btn::before {
  content: "\f060";
  margin-right: 10px;
}
.notice-close-btn {
  opacity: 1;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  padding: 0 32px;
  font-size: 21px;
  cursor: pointer;
  background-color: #00cca3;
  color: #fff;
  transition: all .2s;
}
.notice-close-btn:hover {
  background-color: #00be8f;
}
.notice-close-btn:disabled {
  cursor: no-drop;
  background-color: #e6eaed;
  color: hsla(0,0%,100%,.7);
}
.notice-container .title {
  margin-bottom: 24px;
  line-height: 1.29;
  font-size: 28px;
  font-weight: 400;
}
.notice-container .title strong {
  color: #363636;
  font-weight: 700;
}
.notice-container dt, .notice-container dd {
  border: 1px solid #f0f2f5;
}
.notice-container dd {
  margin-bottom: 12px;
  border-top: 0;
  padding: 16px;
}
.notice-container dd p {
  line-height: 1.33;
  letter-spacing: -.4px;
  font-weight: 400;
  font-size: 15px;
}
.notice-container dd p em {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  color: #90949c;
  font-size: 13px;
  font-style: normal;
}
.notice-container label {
  padding: 12px;
  color: #babdc0;
  font-size: 17px;
  display: block;
  line-height: 24px;
  cursor: pointer;
}
.notice-container input[type=checkbox] {
  margin-top: -4px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  transition: all .2s;
  outline: none;
  border: 1px solid #e6eaed;
  background: #fff;
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  margin-right: 8px;
}
.notice-container input[type=checkbox]:before {
  display: inline-block;
  color: #e6eaed;
  margin-top: 5px;
  margin-left: 4px;
  content: "\f00c";
  font-size: 12px;
  font-weight: 700;
}
.notice-container span {
  transition: all .2s;
}
.notice-container input[type=checkbox]:checked+span {
  color: #7c8288;
}
.notice-container input[type=checkbox]:checked {
  background: #00cca3;
}
.notice-container input[type=checkbox]:checked::before {
  color: #fff;
}

.funding-step1 {
  width: 860px;
  margin: 0 auto;
  padding: 0 0 100px;
}
.funding-step1-top {
  position: relative;
  margin-bottom: 20px;
}
.funding-step1 h3 {
  float: left;
  text-align: left;
}

.funding-step1 h3 em {
  display: inline-block;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  background: #A29584;
  border-radius: 5px;
  font-style: normal;
}
.funding-step1 .sub-text {
  display: inline-block;
  margin-bottom: 0px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.funding-step1 a.help-text {
  position: absolute;
  top: 5px;
  right: 0;
  color: #00cca3;
  padding: 0 10px;
  font-size: 12px;
  text-decoration: underline;
}
.purchase-list {
  overflow: hidden;
}
.purchase-list li {
  width: 100%;
  margin-bottom: 5px;
}
.purchase {
  padding: 0;
  width: 860px;
  background: #f9f9f9;
  border: 1px solid #fff;
  border-radius: 5px;
}
.purchase.active {
  background: #d6f5ef;
  border: 1px solid #edfffc;
}
.purchase:after {
  display: block;
  content: "";
  clear: both;
}
.purchase dt {
  float: left;
  text-align: center;
  width: 100px;
  padding-top: 50px;
}
.purchase dd {
  float: left;
  padding: 20px 10px;
  width: 740px;
  color: #00132C;
}
.purchase dd .sum {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}
.purchase dd .num {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
}
.purchase dd .num .remains {
  padding-left: 10px;
  font-size: 12px;
}
.purchase dd .text {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
}
.purchase dd .date {
  font-size: 12px;
  line-height: 15px;
}
.purchase .soldout{
  padding-left: 10px;
  font-size: 12px;
  color: #F9283C;
}
.purchase.soldout dd p {
  color: #9b9b9b;
}
.purchase label {
  display: block;
  cursor: pointer;
}
.purchase.soldout label {
  display: block;
  cursor: no-drop;
}
.purchase .checked-area {
  display: none;
  padding: 15px 0 0;
}
.purchase.active .checked-area {
  display: block;
}
.purchase .checked-area input[type=text] {
  width: 70px;
  text-align: right;
  padding: 0 10px;
  margin: 0 10px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #00cca3;
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
}
.purchase .checked-area button {
  padding: 0 3px;
  font-size: 12px;
  vertical-align: middle;
  color: #65696B;
  background: transparent;
  border: 1px solid #65696B;
  cursor: pointer;
  height: 20px;
}
.purchase .checked-area button i {
  margin: 0;
}
.purchase .checked-area .amount {
  float: left;
  width: 180px;
}
.purchase .checked-area .option {
  float: left;
  width: 500px;
}
.purchase .checked-area .option input[type=text] {
  width: 100%;
  text-align: left;
  margin: 0;
}
.purchase .checked-area:after {
  display: block;
  content: "";
  clear: both;
}
.checked-area .title {
  margin-bottom: 5px;
  font-size: 12px;
}
.checked-area .title em{
  padding-left: 10px;
  color: #009688;
}
.purchase-donation {
  margin-top: 42px;
  margin-bottom: 42px;
  overflow: hidden;
}
.purchase-donation h3 {
  width: 200px;
}
.donation-wrap {
  float: left;
  width: 660px;
}
.donation-wrap .input-area {
  padding: 20px 0;
}
.donation-wrap .input-area input {
  text-align: right;
  height: 48px;
  line-height: 1.2em;
  transition: .2s;
  outline: none;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0;
  background: #fff;
  padding: 0 .94118em;
  vertical-align: middle;
  color: rgba(0,0,0,.84);
  font-size: 17px;
  font-weight: 300;
}
.donation-wrap .input-area input:hover {
  border: 1px solid rgba(0,0,0,.7);
}
.donation-wrap .input-area input:focus {
  border-color: #00cca3;
}
.btn-wrap {
  text-align: center;
}
.btn-wrap .confirm {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
.btn-wrap .confirm em {
  text-decoration: underline;
  color: #00cca3;
}