<div class="notice-pop" *ngIf="isNoticePop">
    <div class="notice-container" *ngIf="rewardDetail">
      <a [routerLink]="['/reward/detail', id]" class="notice-back-btn fas">스토리로 돌아가기</a>
      <p class="title">
        <strong>잠깐!</strong> 펀딩과 쇼핑이 어떻게 다른지 확인 후 펀딩을 진행하세요</p>
      <form [formGroup]="noticeForm" novalidate>
        <dl>
          <dt>
            <label>
              <input type="checkbox" formControlName="check1" class="fas">
              <span>바로 결제되지 않아요</span>
            </label>
          </dt>
          <dd>
            <p>지금 펀딩하시면
              <strong>결제 예약</strong>되며, 목표금액 달성 시,
              <strong>{{ rewardDetail.product_end_time }}</strong>에 모두 함께 결제됩니다.</p>
          </dd>
          <dt>
            <label>
              <input type="checkbox" formControlName="check2" class="fas">
              <span>펀딩 종료 후에는 취소할 수 없어요</span>
            </label>
          </dt>
          <dd>
            <p>리워드 결제 예약 취소와 변경은
              <strong>프로젝트 펀딩기간 중</strong>에만 가능합니다.
              <br>펀딩 취소는
              <strong>{{ rewardDetail.product_cancel_time }}</strong>까지 가능합니다. 이후로는 취소가 불가합니다.
            </p>
          </dd>
          <dt>
            <label>
              <input type="checkbox" formControlName="check3" class="fas">
              <span>바로 리워드가 발송되지 않아요</span>
            </label>
          </dt>
          <dd>
            <p>리워드는 메이커가
              <strong>약속한 날짜</strong>에 발송됩니다.
              <br>선택한 리워드의 발송 예정일을 확인한 후에 펀딩해 주세요.</p>
            <p>
              <em>
                - 리워드 펀딩 특성상 발송이 지연되거나 불가할 수 있습니다.
                <br> - 펀딩 안내 탭의 리워드 발송 예상 변동 기간 및 교환, 환불, AS 정책을 참고해주세요.
                <br> - 기부•후원인 경우, 리워드가 발송되지 않습니다.
              </em>
            </p>
          </dd>
        </dl>
        <button type="button" class="notice-close-btn" (click)="noticePopClose()" [disabled]="noticeForm.invalid">계속해서 펀딩하기</button>
      </form>
    </div>
  </div>

  <div class="funding-step1" *ngIf="rewardDetail">
    <div class="funding-step1-top">
      <h3>
        <em>리워드 선택</em>
      </h3>
      <p class="sub-text">펀딩해주시는 금액에 따라 감사의 의미로 리워드를 제공해 드립니다.</p>
      <a class="help-text" ng-href="#" (click)="noticePopOpen()">
        <i class="fas fa-exclamation-circle"></i>펀딩하기는 쇼핑하기가 아닙니다! 자세히 알아보세요.
      </a>
      <div class="purchase-list">
        <ul>
          <li *ngFor="let reward of rewardDetail.rewards">
            <dl class="purchase" [class.soldout]="!reward.reward_on_sale" [class.active]="reward.reward_checked">
              <dt>
                <input type="checkbox" [id]="'ckrw' + reward.pk" class="reward-check" name="rewardId"
                  (change)="clickProduct(reward.pk)" [disabled]="!reward.reward_on_sale" [checked]="reward.reward_checked">
              </dt>
              <dd>
                <label [for]="'ckrw' + reward.pk">
                  <p class="sum">{{ reward.reward_price | comma }}원 펀딩합니다.</p>
                  <p class="num">{{ reward.reward_name }}
                    <em *ngIf="reward.reward_on_sale" class="remains">({{ reward.reward_total_count - reward.reward_sold_count }}개 남음)</em>
                    <em *ngIf="!reward.reward_on_sale" class="soldout">(마감)</em>
                  </p>
                  <p class="text">{{ reward.reward_option }}</p>
                  <p class="date">
                    {{ reward.reward_shipping_charge === 0 ? '배송비 없음' : '배송비 ' + (reward.reward_shipping_charge | comma)+ '원' }} | 리워드 제공 예상일 :
                    <em>{{ reward.reward_expecting_departure_date }}</em>
                  </p>
                </label>
                <div class="checked-area">
                  <div class="amount">
                    <p class="title">수량</p>
                    <p class="input-area">
                      <button type="button" (click)="clickMinus(reward.pk)">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input type="text" [id]="'qty' + reward.pk" class="reward-qty"
                        [value]="reward.reward_purchase_count"
                        (blur)="checkPurchaseCount(reward.pk, $event.target.value)"
                        (keyup.enter)="$event.target.blur()">
                      <button type="button" (click)="clickPlus(reward.pk)">
                        <i class="fas fa-plus"></i>
                      </button>
                    </p>
                  </div>
                </div>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="purchase-donation">
        <h3>
          <em>후원금 더하기
            <span>(선택)</span>
          </em>
        </h3>
        <div class="donation-wrap">
          <p class="sub-text">후원금을 더하여 펀딩할 수 있습니다. 추가 후원금을 입력하시겠습니까?</p>
          <div class="input-area">
            <input type="text" name="addDonationTmp" maxlength="8" [value]="sponsorshipAmount | comma"
              (focus)="$event.target.value === '0' ? $event.target.value = '' : null"
              (blur)="$event.target.value === '' ? $event.target.value = '0' : null"
              (keyup)="keyupSponsorshipAmount($event.target.value)"> 원을 추가로 후원합니다.
          </div>
        </div>
      </div>
    <div class="btn-wrap">
      <p class="confirm">{{ rewardDetail.product_name }}에
        <em id="sumTotalNum">{{ getTotalAmount() | comma }}</em> 원을 펀딩합니다.</p>
      <button (click)="nextStep()">
        다음 단계로
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>