<div class="funding-top">
    <div class="funding-title">
      <a [routerLink]="['/reward/detail', id]">
        <i class="fas fa-chevron-left"></i>스토리로 돌아가기</a>
      <div>{{ title }}</div>
    </div>
    <div class="funding-step">
      <ol>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/funding/step10', id]"></a>
          <em>리워드
            <br>선택</em>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/funding/step20']"></a>
          <em>결제 예약</em>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/funding/step30']"></a>
          <em>소문내기</em>
        </li>
      </ol>
    </div>
  </div>

  <router-outlet (activate)="onActivate()"></router-outlet>