<div class="funding-top">
  <div class="funding-title">
    <a [routerLink]="['/reward/detail/1']">
      <i class="fas fa-chevron-left"></i>스토리로 돌아가기</a>
    <div>[핏콩큐브 그린티] 녹덕들의 성지를 마련하다! NO밀가루 단백질 수제쿠키</div>
  </div>
  <div class="funding-step">
    <ol>
      <li routerLinkActive="active">
        <a routerLink="/funding/1/step1"></a>
        <em>리워드
          <br>선택</em>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/funding/1/step2"></a>
        <em>결제 예약</em>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/funding/1/step3"></a>
        <em>소문내기</em>
      </li>
    </ol>
  </div>
</div>