<!--동의 모달-->
<div class="agree-pop" *ngIf="isAgreePop">
  <div class="agree-container">
    <p class="text-large">약관확인</p>
    <p class="text-normal">약관에 동의하셔야 이용가능합니다.</p>
    <form [formGroup]="agreeForm" class="agree-form">
      <label>
        <input formControlName="allAgree" type="checkbox" (change)="changeAllAgree($event.target.checked)"
          [checked]="chkAgree1 && chkAgree2">
        <span class="title">전체동의</span>
      </label>
      <ul>
        <li>
          <label>
            <input formControlName="chkAgree1" type="checkbox"> 와디즈 서비스 이용약관(필수)
          </label>
          <ul class="term-more">
            <li class="more">
              <p>회원가입 약관</p>
              <input type="checkbox" class="toggle" id="terms-toggle1">
              <label class="toggle" for="terms-toggle1">
                <span>내용보기</span>
                <span>내용닫기</span>
              </label>
              <div class="term-box">
                <div class="article">
                  <article>
                    <h1>회원가입약관</h1>
                    <p>와디즈 회원가입과 관련하여 필요한 사항을 규정합니다.</p>
                    <div class="update">
                      <h5>업데이트 노트</h5>
                      <ul>
                        <li>본 약관은 2016년 01월 25일부터 시행됩니다.</li>
                      </ul>
                    </div>
                    <ol>
                      <li>제1장 총칙</li>
                      <li>제2장 서비스의 이용</li>
                      <li>제3장 회원정보의 보호 및 관리</li>
                      <li>제4장 기타</li>
                      <li>부칙</li>
                      <li>별지: 서비스 이용료</li>
                    </ol>
                  </article>
                </div>
              </div>
            </li>

            <li class="more">
              <p>리워드 서비스 이용약관</p>
              <input type="checkbox" class="toggle" id="terms-toggle2">
              <label class="toggle" for="terms-toggle2">
                <span>내용보기</span>
                <span>내용닫기</span>
              </label>
              <div class="term-box">
                <div class="article">
                  <article>
                    <h1>리워드 서비스 이용약관</h1>
                    <p>와디즈 리워드 서비스의 이용과 관련하여 필요한 사항을 규정합니다.</p>
                    <div class="update">
                      <h5>업데이트 노트</h5>
                      <ul>
                        <li>개정 2018. 4. 21.</li>
                        <li>개정 2016. 1. 25.</li>
                        <li>시행 2016. 1. 25.</li>
                      </ul>
                    </div>
                    <ol>
                      <li>제1장 총칙</li>
                      <li>제2장 서비스의 이용</li>
                      <li>제3장 프로젝트의 개설 등</li>
                      <li>제4장 후원의 신청 및 접수 등</li>
                      <li>제5장 펀딩결과 및 후원금의 전달 등</li>
                      <li>제6장 기타 사항</li>
                      <li>부칙</li>
                    </ol>
                  </article>

                </div>
              </div>
            </li>

            <li class="more">
              <p>리워드 서비스 개인정보취급방침</p>
              <input type="checkbox" class="toggle" id="terms-toggle3">
              <label class="toggle" for="terms-toggle3">
                <span>내용보기</span>
                <span>내용닫기</span>
              </label>
              <div class="term-box">
                <div class="article">
                  <article>
                    <h1>리워드 서비스 개인정보처리방침</h1>
                    <p>와디즈(주)는 이용자들의 개인정보를 소중히 다루고 있습니다.</p>
                    <div class="update">
                      <h5>업데이트 노트</h5>
                      <ul>
                        <li>개정 2017. 11. 30.</li>
                        <li>개정 2017. 4. 28.</li>
                        <li>개정 2016. 1. 24.</li>
                      </ul>
                    </div>
                    <div>
                      <ol>
                        <li>1. 개인정보 처리방침의 기본방향</li>
                        <li>2. 목차</li>
                        <li>3. 개인정보의 수집목적 및 이용목적</li>
                        <li>4. 개인정보의 수집범위 및 수집방법</li>
                        <li>5. 개인정보의 이용 및 제공</li>
                        <li>6. 개인정보에 대한 회원의 권리 및 행사방법</li>
                        <li>7. 개인정보의 보유 및 이용기간</li>
                        <li>8. 개인정보 보호에 대한 기술적 관리적 대책</li>
                        <li>9. 수집한 개인정보 처리 위탁</li>
                        <li>10. 쿠키(Cookie)의 운영에 관한 사항</li>
                        <li>11. 광고성 정보전송</li>
                        <li>12. 개인정보 보호 의무 및 책임자 공시</li>
                      </ol>
                    </div>
                  </article>

                </div>
              </div>
            </li>

            <li>
              <label>
                <input formControlName="chkAgree2" type="checkbox"> 쿠폰∙포인트, 오픈알림, 뉴스레터 수신(선택)
                <em class="caption">동의하지 않으면, 웰컴패키지(첫 펀딩을 위한 혜택)을 받을 수 없습니다. (이메일 수신)</em>
              </label>
            </li>
          </ul>
        </li>
      </ul>
      <button type="button" class="btn-agree" [disabled]="agreeForm.invalid" (click)="submitAgreePop()">확인</button>
    </form>
    <button type="button" class="btn-close" title="창닫기" (click)="closeAgreePop()">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<div class="join-container">
  <h2 class="join-large-text">회원가입</h2>
  <p class="join-medium-text">와디즈 펀딩을 위한 최소한의 정보를 받고있습니다.</p>

  <!--이메일 섹션-->
  <form [formGroup]="joinForm" class="join-form" novalidate>
    <!--동의 체크 박스-->
    <div class="check-list">
      <label class="checkbox">
        <input formControlName="checkAgree" type="checkbox"
          (change)="checkAgreeEvt($event.target.checked)">
        <p class="text-large">전체동의</p>
        <p class="text-normal">와디즈 서비스 이용약관, 쿠폰포인트 오픈알림 뉴스레터 수신(선택)</p>
      </label>
      <a ng-href="#" class="btn-agree-open" (click)="isAgreePop = true">
        <i class="fas fa-angle-right"></i>
      </a>
    </div>

    <input formControlName="username" type="email" placeholder="이메일 계정" [class.error]="username.errors && username.touched">
      <em class="error-text" *ngIf="username.errors?.required && username.touched">아이디(이메일계정)을 입력해주세요.</em>
      <em class="error-text" *ngIf="username.errors?.pattern && username.touched">이메일을 정확히 입력해주세요.</em>
    <input formControlName="nickname" type="text" maxlength="20" placeholder="이름" [class.error]="nickname.errors && nickname.touched">
      <em class="error-text" *ngIf="nickname.errors?.required && nickname.touched">이름을 입력해주세요.</em>
      <em class="error-text" *ngIf="nickname.errors?.minlength && nickname.touched">최소 2자 이상입니다.</em>
    <div formGroupName="passwordGroup">
      <input formControlName="password" type="password" name="password" placeholder="비밀번호 입력" [class.error]="password.errors && password.touched">
        <em class="error-text" *ngIf="password.errors?.required && password.touched">비밀번호를 입력해주세요.</em>
        <em class="error-text" *ngIf="password.errors?.minlength && password.touched">최소 8자 이상입니다.</em>
        <em class="error-text" *ngIf="password.errors?.pattern && password.touched">영문,숫자,특수문자를 조합해주세요.</em>
      <input formControlName="password1" type="password" name="password1" placeholder="비밀번호 확인"
        [class.error]="passwordGroup.errors && password1.touched"
        (keyup.enter)="submitJoin()">
        <em class="help">영문, 숫자, 특수문자 (!@#$%^&*+=-)를 조합한 8자 이상</em>
        <em class="error-text" *ngIf="passwordGroup.errors?.match && password1.touched">동일한 비밀번호를 입력해주세요.</em>
        <em class="error-text" *ngIf="isJoinError">이미 등록된 이메일 계정이거나 혹은<br>알수없는 오류로 회원가입이 실패하였습니다.</em>
    </div>

    <button type="button" class="btn-join" [disabled]="joinForm.invalid" (click)="submitJoin()">완료</button>
  </form>
</div>