.slide-container {
  position: relative;
  height: 440px;
  background: pink;
}
.rewards-container {
  position: relative;
  margin: 0 auto;
  max-width: 1064px;
}
.category-container {
  position: relative;
  height: 210px;
  max-width: 1032px;
  margin: 0 auto;
}
.rewardlist-container {
  position: relative;
  max-width: 1032px;
  margin: 0 auto;

}
.rewardlist-container .reward-filter {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.rewardlist-container ul:after {
  display: block;
  clear: both;
  content: "";
}
.rewardlist-container li {
  float: left;
  width: 33.33%;
}
.reward {
  box-sizing: border-box;
}

/* category start */
.category-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  /* padding: 0 60px 14px 0; */
  width: 1032px;
  height: 210px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.only-category-container {
  width: 200%;
  margin-top: 56px;
  transition: .5s;
}
.only-category-container a {
  display: inline-block;
  width: 98px;
  height: 80px;
  text-align: center;
  position: relative;
}
.only-category-container a:hover::before {
  border: 2px solid #00bf99;
  position: absolute;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  content:"";
  display: inline-block;
  cursor: pointer;
}
.only-category-container a:hover .category-text {
  color: #00bf99;
}
.category {
  display: inline-block;
  border-radius: 50%;
  background-color: #dedede;
  background-position: 50%;
  background-size: cover;
  width: 56px;
  height: 56px;
}
.category-text {
  position: absolute;
  color: black;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* category end */

/* category arrow button start */
.category-arrow-btn {
  position: absolute;
  top: 0;
  font-size: 40px;
  width: 70px;
  height: 100%;
  border: none;
  padding: 0;
  color: rgba(0,0,0,.54);
  outline: 0;
  display: none;
}
.category-arrow-btn:hover {
  color: rgba(0,0,0,.84);
}
.category-arrow-btn-left {
  background: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 50%,#fff);
  left: 0;
}
.category-arrow-btn-right {
  background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 50%,#fff);
  right: 0;
}
.category-arrow-btn.active {
  display: block;
}
/* category arrow button end */


/* reward list header start */
.reward-filter-header {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.reward-filter-header:after {
  display: block;
  content: "";
  clear: both;
}
.reward-filter-list-title h3 {
  float: left;
  bottom: 12px;
  left: 0;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
}
.for-reward-searchbox-float {
  height: 32px;
  float: right;
}
.reward-search {
  float: left;
  font-size: 15px;
  width: 197px;
  height: 32px;
}
input#keyword {
  float: left;
  width: 147px;
  height: 32px;
  background: none;
  border: none;
  line-height: 24px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  visibility: hidden;
  transition: opacity .25s;
  opacity: 0;
}
.reward-search.active input#keyword{
  opacity: 1;
  visibility: visible;
}
.forbtn {
  float: left;
}
.search-btn {
  border: none;
  background: none;
  color: #000;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 15px;
}
.filter2-order {
  float: left;
}
.filter1-category {
  float: left;
}
.filter {
  position: relative;
  display: inline-block;
  padding-right: 24px;
  padding-left: 12px;
  line-height: 32px;
}
.filter:after {
  position: absolute;
  top: -3px;
  right: 7px;
  content: "\f0dd";
}
select {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background: none;
  border: none;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none;    /* 화살표 없애기 for firefox*/
  appearance: none;         /* 화살표 없애기 공통*/
  padding-right: 16px;
  font-size: 16px;
  line-height: 32px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* reward list header end */

.reward-lists {
  margin: 0 -16px;
  padding-bottom: 50px;
}
.reward-lists li {
  margin: 18px 0 18px 0;
}
.reward:nth-child(2n), .reward:nth-child(3n){
  padding: 16px 16px 16px 0;
}
.reward {
  width: 100%;
  padding: 16px;
  float: left;
  height: 300px;
  position: relative;
}
.reward-img {
  border-radius: 3px;
  width: 100%;
  height: 181px;
  overflow: hidden;
  border-radius: 3px;
}
.reward-item-deadlinesoon {
  width: 55px;
  height: 20px;
  position: absolute;
  z-index: 1;
  background-color: #00bf99;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 1px 6px 0 6px;
  overflow: hidden;
  display: none;
}
.rewar-img::before {
  border-radius: 3px;
  border: 5px solid rgba(0,0,0,.06);
}
.reward-img-span {
  background-color: #f7f7f7;
  background-size: cover;
  transform: scale(1);
  transition: all .3s;
  width: 100%;
  height: 100%;
  display: block;
}
.reward:hover .reward-img-span {
  transform: scale(1.03);
}
.reward:hover .reward-info .reward-item-title {
  text-decoration-line: underline;
}
.reward-info {
  height: 80px;
  padding: 11px 0 0;
  margin-bottom: 10px;
}
.reward-item-title {
  display: block;
}
.reward-item-title > h4 {
  display: inline;
  max-height: 48px;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
}
.reward-item-category {
  color: rgba(0,0,0,.84);
  position: relative;
  margin-bottom: 8px;
  font-size: 13px;
  color: #90949c;
}
.reward-item-percentbar {
  height: 3px;
  display: block;
  background-color: #e6eaed;
}
.reward-item-percentbar > span {
  display: block;
  height: 3px;
  background-color: #00bf99 !important;
}
.reward-item-completed-per {
  color: #00bf99;
  font-size: 17px;
  font-weight: bold;
  float: left;
}
.reward-item-completed-money, .reward-item-remainday {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  line-height: 24px;
  color: #90949c;
}
.reward-item-completed-money {
  margin-left: 5px;
}
.reward-item-remainday {
  float: right;
}
.reward-more {
  text-align: center;
}
.btn-more {
  width: 600px;
  margin-bottom: 50px;
}
.btn-more i {
  margin-left: 5px;
}