<app-slide></app-slide>

<div class="rewards-container">
  <!-- category start-->
  <div class="category-container">
    <div class="only-category-container"
      *ngIf="categorys"
      [ngStyle]="{ 'transform' : 'translate('+ categoryX +'px, 0)' }">
      <ng-container *ngFor="let category of categorys; let i = index">
        <a *ngIf="i === 0" [routerLink]="['/main']"
             [routerLinkActive]="'active'"
             [routerLinkActiveOptions]="{ exact: true }">
          <div class="category" [ngStyle]="{ 'background-image' : 'url(' + category.img + ')' }">
            <span class="category-text">{{ category.name }}</span>
          </div>
        </a>
        <a *ngIf="i !== 0" [routerLink]="['/main', category.url ]"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="category" [ngStyle]="{ 'background-image' : 'url(' + category.img + ')' }">
            <span class="category-text">{{ category.name }}</span>
          </div>
        </a>
      </ng-container>
    </div>
    <button class="category-arrow-btn category-arrow-btn-left" (click)="prevCategory()" [class.active]="categoryX < 0">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="category-arrow-btn category-arrow-btn-right" (click)="nextCategory()" [class.active]="categoryX >= 0">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
  <!-- category end-->
  <router-outlet></router-outlet>
</div>