.rewards-container {
  position: relative;
  margin: 0 auto;
  max-width: 1064px;
}
.category-container {
  position: relative;
  height: 210px;
  max-width: 1032px;
  margin: 0 auto;
}

/* category start */
.category-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  /* padding: 0 60px 14px 0; */
  width: 1032px;
  height: 210px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.only-category-container {
  width: 200%;
  margin-top: 56px;
  transition: .5s;
}
.only-category-container a {
  display: inline-block;
  width: 98px;
  height: 80px;
  text-align: center;
  position: relative;
}
.only-category-container a:hover::before, .only-category-container a.active::before {
  border: 2px solid #00bf99;
  position: absolute;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  content:"";
  display: inline-block;
  cursor: pointer;
}
.only-category-container a:hover .category-text, .only-category-container a.active .category-text {
  color: #00bf99;
}
.category {
  display: inline-block;
  border-radius: 50%;
  background-color: #dedede;
  background-position: 50%;
  background-size: cover;
  width: 56px;
  height: 56px;
}
.category-text {
  position: absolute;
  color: black;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* category end */

/* category arrow button start */
.category-arrow-btn {
  position: absolute;
  top: 0;
  font-size: 40px;
  width: 70px;
  height: 100%;
  border: none;
  padding: 0;
  color: rgba(0,0,0,.54);
  outline: 0;
  display: none;
}
.category-arrow-btn:hover {
  color: rgba(0,0,0,.84);
}
.category-arrow-btn-left {
  background: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 50%,#fff);
  left: 0;
}
.category-arrow-btn-right {
  background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 50%,#fff);
  right: 0;
}
.category-arrow-btn.active {
  display: block;
}
/* category arrow button end */