<div class="likelist-container">
  <div class="title-container">
    <div class="title">좋아한 프로젝트</div>
  </div>
  <div class="list" *ngIf="userInfo">
    <div class="empty-text" *ngIf="userInfo.like_products.length === 0">
      <p>
        좋아하는 리워드 프로젝트가 없습니다.
        <br> 프로젝트를 좋아해보실래요?
        <br>
        <br>
        <a [routerLink]="['/main/all']">
          <span class="link-text fas">
            리워드 프로젝트 바로가기
          </span>
        </a>
      </p>
    </div>
    <ul class="likelist" *ngIf="userInfo.like_products.length > 0">
      <li *ngFor="let like of userInfo.like_products">
        <div class="reward" (click)="goReward(like.product);">
          <div class="reward-img-wrapper">
            <div class="reward-img"
              [ngStyle]="{ 'background-image': 'url(' + like.product_img + ')'}"></div>
            <div class="reward-img-info">
              <div class="reward-progressbar">
                <span class="reward-progressbar-percent"
                  [ngStyle]="{ 'width' : getPercent(like.product_cur_amount, like.product_total_amount, true) + '%' }"></span>
              </div>
              <div class="reward-percent">{{ getPercent(like.product_cur_amount, like.product_total_amount) }}%</div>
              <div class="reward-amount">{{ like.product_cur_amount | comma }}원 달성</div>
            </div>
            <div class="reward-days">{{ getTerm(like.product_end_time) }}</div>
          </div>
          <div class="reward-info">
            <div class="reward-title">{{ like.product_name }}</div>
            <div class="reward-company">{{ like.product_company_name }}</div>
            <div class="reward-category">{{ like.product_type }}</div>
            <div class="reward-caution">성공해야 리워드</div>
          </div>
          <button class="reward-remove fas" (click)="removeList(like.pk)"></button>
        </div>
      </li>
    </ul>
  </div>
</div>